@inherits ImFormComponentBase<string>

<div class="form-group">
    <label for="@Id">@Title</label>
    <input class="form-control" type="text" id="@Id" value="@Value" onchange="@ValueChange" />
</div>
